<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
          rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
          rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <link href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <script src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
    html, body {
        padding: 0px;
        margin: 0px;
    }

    table {
        margin: 0px;
        padding: 0px;
        width: 30%;
        border-collapse: collapse;
        table-layout: fixed; /*不添加此样式，会全部显示    */
    }

    table td {
        border: 1px solid #eef2e9;
        /* text-overflow: ellipsis; */ /* 加上，显示省略号*/
        white-space: nowrap;
        overflow: hidden;
    }

    table td:hover { /* 鼠标滑过  显示隐藏的内容  伴有横向的滚动条 */
        overflow: auto;
        text-overflow: clip;
    }
</style>
<body class="bg-white" data-bg-color="bg-white">
<div class="king-page-box">
    <div class="king-layout1-header">
        <nav class="">
            <div style="overflow:hidden; z-index: inherit;" class="navbar king-horizontal-nav1  f14">
                <div class="navbar-container">
                    <div class="navbar-header pull-left">
                        <a class="navbar-brand" href="javascript:;">
                            <img src="https://magicbox.bk.tencent.com/static_api/v3/bk/images/logo.png" class="logo">
                        </a>
                    </div>
                    <ul class="nav navbar-nav pull-left m0">
                        <li class="active"><a href="javascript:void(0);">首页</a></li>
                    </ul>
                    <div class="navbar-header pull-right">
                        <ul class="nav">
                            <li class="user-info">
                                <a href="javascript:;">
                                    <img class="img-rounded"
                                         src="https://magicbox.bk.tencent.com/static_api/v3/components/horizontal_nav1/images/avatar.png">
                                    <span>${request.user.username}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="king-layout1-main clearfix">
        <!-- sidebar start -->
        <div class="king-layout1-sidebar" style="width:216px;">
            <nav style="height:100%;" class="   f14">
                <div class="king-vertical-nav4">
                    <div class="sidebar-inner">
                        <ul class="navi">
                            <li class="has_submenu current open c-open active">
                                <a href="javascript:void(0);"> <i class="fa fa-gear "> </i>
                                    <span>任务</span>
                                    <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="${SITE_URL}">执行任务<i class="fa fa-chevron-right pull-right"></i></a>
                                    </li>
                                    <li><a href="${SITE_URL}all_work/">实时任务记录<i
                                            class="fa fa-chevron-right pull-right"></i></a></li>
                                    <li><a href="${SITE_URL}all_script_data/">脚本管理<i
                                            class="fa fa-chevron-right pull-right"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="king-content-wrap">
            <div class="king-layout1-content" style="margin-left: 216px;">
                <div class="container">
                    <table class="table table-striped" style="margin-top:20px;">
                        <thead>
                        <tr>
                            <th>脚本名称</th>
                            <th>脚本内容</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        %for one_script in all_script_data:
                        <tr>
                            <td>${ one_script.name }</td>
                            <td>${ one_script.script_content }</td>
                            <td><a href="${SITE_URL}del_script/${one_script.id}">删除</a></td>
                        </tr>
                        %endfor
                        </tbody>
                    </table>
                </div>
                <form action="${SITE_URL}add_script/" method="get">
                    <div class="container" style="margin-top:40px;border:1px solid #696969">
                        <h3>增加新的脚本</h3>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">脚本名称：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="script_name" id="script_name">
                            </div>
                        </div>
                        <div class="form-group clearfix ">
                            <label class="col-sm-3 control-label bk-lh30 pt0">脚本内容：</label>
                            <div class="col-sm-9">
                                <textarea name="script_content" id="script_content" cols="98%" rows="12"
                                          style="OVERFLOW:   hidden"></textarea>

                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-sm-9 col-sm-offset-3">
                                <input type="submit" value="提交"
                                       class="king-btn mr10  king-success">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var li = $('.navi li');
        li.each(function () {
            $(this).click(function () {
                if ($(this).hasClass('c-open')) {
                    $(this).find('ul').slideUp(350);
                    $(this).removeClass('c-open');
                } else {
                    $(this).find('ul').slideDown(350);
                    $(this).addClass('c-open');
                }
            })
        });
        $('#select_business1').change(function () {
            console.log('获取');
            var calve_data1 = $('#select_business1').val();
            var calve_data = calve_data1.split(',')[0];
            console.log('calve_data', calve_data);
            var url_data = '${SITE_URL}' + 'search_pc/' + calve_data;
            console.log(calve_data);
            $.ajax({
                url: url_data,
                type: 'get',
                dataType: 'json',
                /*data: {
                 biz_id: calve_data
                 },*/
                success: function (data) {
                    console.log('获取');
                    $("#data_list").empty();
                    for (var i = 0; i < data.data.list.length; i++) {
                        $('.data_list').append('<p><input type="checkbox" name="jiaoben_role" class="check_role" value="' + data.data.list[i].ip + '|' + data.data.list[i].area_id + '"><label for="">' + data.data.list[i].area + '|' + data.data.list[i].ip + '|' + data.data.list[i].os_name + '</label></p>')
                    }


                }
            });
        });
    });

</script>